* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  /* background-color: rgb(0, 0, 33); */
  background-color: #3b5bb5;
  color: white;
}

.left {
  font-size: 1.5rem;
}

.left:hover {
  /* color: #0088a9; */
  color: #c9c9c9;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  /* background-color: rgb(18, 18, 62); */
    background-color: #132a6e;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #c9c9c9;
  font-size: 1.01rem;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  margin: 110px 0;
  align-items: center;
}

.firstSection > div {
  width: 30%;
}

.rightSection img {
  width: 80%;
}

.leftSection {
  font-size: 2.5rem;
}
 
#element {
  color: gold;
}

.purple {
  color: goldenrod;
}

.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}

/* .thirdSection{
  max-width: 80vw;
  margin: auto;
  height: 80vh;
} */

.thirdSection h1{
  font-size: 1.6rem;
  margin-left: 95px;
}

.thirdSection .hello{
  margin-left: 95px;
}

.secondSection h1 {
  font-size: 1.6rem;
}

.text-grey {
  color: #000;
  font-weight: 2000;
}

.hr1 {
  border: 0;
  height: 2px;
  background: #fff;
  margin: 30px 84px;
}

.secondSection .box {
  background: white;
  margin: 70px 0;
  width: 80vw;
  height: 2px;
  display: flex;
}

.secondSection .vertical {
  background: white;
  width: 1px;
  height: 93px;
  margin: 0 150px;
}

.leftSection .btn {
  padding: 12px;
  color: white;
  background-color: #12586a;
  border: 2px solid white;
  border-radius: 3px;
  font-size: 13px;
  cursor: pointer;
  text-decoration: none;
}

.leftSection .button {
  padding: 15px 0px;
}

.footer-left {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer-left div {
  padding: 10px 0px;
}

.hr2 {
  border: 0;
  background: #fff;
  height: 2px;
}

.footer {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background-color: #0e0e1a;
  /* background-color: #082567; */
  height: 233px;
  padding: 23px 122px;
}

.footer > div {
  width: 234px;
}

.footer h1 {
  font-size: 1rem;
}

.footer img {
  width: 10%;
}

.footer ul {
  margin: 23px 0;
}

.footer ul div li {
  list-style: none;
  cursor: pointer;
}

#downloadBtn {
  padding-right: 12px;
  text-decoration: none;
  color: white;
}

#submit {
    padding: 8px 14px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin: 0px 44px;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: gold;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#submit:hover {
  background-color: rgba(237, 205, 27, 0.803);
}

#submut:active {
  background-color: gold;
}

input {
  padding: 8px;
  font-size: 13px;
  border-radius: 30px;
  border: 2px solid gold;
}

input:focus {
  outline: none;
  border-color: rgba(237, 205, 27, 0.803);
}

.cardimg{
  width: 100%;
  border-radius: 12px;
  height: 214px;
  object-fit: cover;
}

#cont{
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20vh;
}

.card{
  background-color: white;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid black;
}
.tag{
  padding: 4px 8px;
  border: 1px solid black;
  border-radius: 50px;
  font-size: 8px;
  font-weight: 200;
  color: #000;
}

.name{
  font-size: 20px;
  color: black;
  font-weight: 200;
  margin-top: 12px;
}

.content{
  font-size: 12px;
  color: black;
  line-height: 150%;

}

.cardbtn{
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 200;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.cardbtn:hover{
  background-color: #12586a;
  border: 1px solid black;
}

.cards12{
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  margin-bottom: 122px;
}