*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: rgb(0, 0, 33);
    color: white;
}

.left{
    font-size: 1.5rem;
}

.left:hover{
    color: #0088A9;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgb(18, 18, 62);
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 23px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover{
    text-decoration: none;
    cursor: pointer;
    color: #0088A9;
    font-size: 1.01rem;
}

.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 110px 0;
    align-items: center;
}

.firstSection > div{
    width: 30%;
}

.rightSection img{
    width: 80%;
} 

.leftSection{
    font-size: 2.5rem;
}

#element{
    color: gold;
}

.purple{
    color: goldenrod;
}

.secondSection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondSection h1{
    font-size: 1.6rem ;
}

.text-grey{
    color: gray;
}

.hr1{
    border: 0;
    height: 1px;
    background: #9c97f1;
    margin: 30px 84px;
}

.secondSection .box{
    background: white;
    margin: 70px 0;
    width: 80vw;
    height: 2px;
    display: flex;
}

.secondSection .vertical{
    background: white;
    width: 1px;
    height: 93px;
    margin: 0 100px;
}

.leftSection .btn{
    padding: 12px;
    color: white;
    background-color: #0088A9;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
}


.leftSection .button{
    padding: 15px 0px;
}


.footer-left{
    margin-left: auto;
}


.hr2{
    border: 0;
    background: #9c97f1;
    height: 1px;
}

.footer{
        display: flex;
        justify-content: space-evenly;
        /* align-items: center; */
        background-color: #0e0e1a;
        height: 233px;
        padding: 23px 122px;
}

.footer > div{
    width: 200px;
}

.footer h1{
    font-size: 1rem;
}

.footer img{
    width: 10%;
}

.footer ul{
    margin: 23px 0;
}

.footer ul div li{
    list-style: none;
    cursor: pointer;
}

